/* adjust inner height automatically to field height to have not a gap between froala and helper text*/
.fr-box {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.fr-wrapper {
    flex: 1;
    overflow: auto;
}
/* end inner height adjustment */

vcf-froala-viewer {
    overflow: auto;
}